@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 0.025rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 800;
    margin-left: 1rem;
}

form {
    width: 425px;
    border-radius: 10px;
    padding: 3.5rem 3rem;
    background-color:rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

h2 {
    margin-bottom: 1.1rem;
    color: #0093E9;
    font-size: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.input {
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 6%;
}

.input:focus {
    outline: 3px solid #0093E9;
}

#button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    background-color: #0093E9;
    color: white;
    font-weight: 800;
    letter-spacing: 0.75px;
    transition: all 0.5s ease-in-out;
}

#button:hover {
    background-color: rgb(69, 187, 255);
    cursor: pointer;
}

.text-div {
    margin-top: 0.5rem;
    margin-bottom: 2.2rem;
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 13px;
    color: red;
    margin: 5px;
    padding: 0;
    text-align: left;
    margin-left: 1rem;
}

@media screen and (max-width: 450px) {
    * {
        font-size: 14px;
    }

    form {
        width: auto;
        margin: 3%;
        padding: 3rem 2.25rem;
    }
    
    label,
    p {
        margin-left: 0.5rem;
    }
}