@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 0.025rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 800;
    padding-left: 1.5em;
}

.form-container {
    width: 475px;
    border-radius: 10px;
    padding: 3.5em 3em;
    background-color:rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

#head-element {
    margin-bottom: 1.1em;
    color: #0093E9;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

.input {
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 1.5rem;
}

.input:focus {
    outline: 3px solid rgba(12, 255, 12, 0.6);
}

#button {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 40px;
    background-color: #0093E9;
    color: white;
    font-weight: 800;
    letter-spacing: 0.75px;
    transition: all 0.5s ease-in-out;
}

#button:hover {
    background-color: rgb(69, 187, 255);
    cursor: pointer;
}

.text-div {
    margin-top: 0.5em;
    margin-bottom: 2.2em;
}