@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 0.025rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    padding: 2.5%;
}

#subnet,
#ip {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    color: #0059e9;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    border-radius: 5px;
    font-size: 1.75em;
    color: white; 
    background-color: rgb(10, 35, 58);
    margin-bottom: 40px;
}

input {
    width: 90px;
    padding: 4px 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
}

input:focus {
    outline: 3px solid #0093E9;
}

#btn {
    width: 225px;
    padding: 0.65rem;
    font-size: 1.25rem;
    background-color: #0093E9;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

#btn:hover {
    background-color: #4eaae0;
    cursor: pointer;
}

#nav-container {
    background-color: rgb(35, 35, 58);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
  
#nav-container>div {
    float: left;
}
  
.nav-element {
    display: block;
    padding: 1.25rem 1.85rem;
    color: white;
    text-decoration: none;
    text-align: center;
  }

.nav-element:hover {
    transition: 0.25s ease-in-out;
    background-color: white;
    color: rgb(35, 35, 58);
    cursor: pointer;
}

#logout {
    background-color: #f41400;
    transition: all 0.25s ease-in-out;
}

#logout:hover {
    color: white;
    background-color: #990f02;
}

@media screen and (max-width: 450px) {
    * {
        font-size: 14px;
    }

    #container {
        margin: 3%;
    }

    input {
        width: 20vw;
    }
}